.dim-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ccc;
    opacity: 0.75;
    display: block;
    z-index: 1000;

    /* https://stackoverflow.com/questions/3680429/click-through-div-to-underlying-elements */
    pointer-events: none;
}

.dim-overlay.dark-overlay {
    background-color: #2f2f2f;
}

.dim-overlay-highlight {
    opacity: 1;
    z-index: 1001;
    /* static position doesnt work with z-index */
    position: relative;
}
